GeoAlchemy @ https://github.com/hozn/GeoAlchemy/archive/0.7.3dev1.tar.gz
arrow==0.15.5
envparse==0.2.0
falcon==4.0.2
freezing-model @ https://github.com/freezingsaddles/freezing-model/archive/0.8.7.tar.gz
greenstalk==1.0.1
gunicorn==22.0.0
python-mimeparse==1.6.0
six==1.16.0
